# Supabase Configuration
VITE_SUPABASE_URL=https://iqrmulelrsdokkjlvoei.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_udrHDfoToT93zCufF8rOsw_O0-3focX

# Backend API
VITE_API_URL= https://horarios-b61y.onrender.com
